In [7]:
import pandas as pd
import numpy as np
from io import StringIO

In [8]:
data_string = '''
Symbol,Price,M1,M2,Volume,TimeStamp
TBET,2.19,3,8.05,1124179,9:59:14 AM
FUEL,3.949,9,1.15,109674,9:59:11 AM
SUNH,4.37,6,0.09,24394,9:59:09 AM
FUEL,3.9099,8,1.11,105265,9:59:09 AM
TBET,2.18,2,8.03,1121629,9:59:05 AM
ORBC,3.4,2,0.22,10509,9:59:02 AM
FUEL,3.8599,7,1.07,102116,9:58:47 AM
FUEL,3.8544,6,1.05,100116,9:58:40 AM
GBR,3.83,4,0.46,64251,9:58:24 AM
GBR,3.8,3,0.45,63211,9:58:20 AM
XRA,3.6167,3,0.12,42310,9:58:08 AM
GBR,3.75,2,0.34,47521,9:57:52 AM
MPET,1.42,3,0.26,44600,9:57:52 AM
'''
data = StringIO(data_string)
df = pd.read_csv(data, sep=",")
df

   Symbol   Price  M1    M2   Volume   TimeStamp
0    TBET  2.1900   3  8.05  1124179  9:59:14 AM
1    FUEL  3.9490   9  1.15   109674  9:59:11 AM
2    SUNH  4.3700   6  0.09    24394  9:59:09 AM
3    FUEL  3.9099   8  1.11   105265  9:59:09 AM
4    TBET  2.1800   2  8.03  1121629  9:59:05 AM
5    ORBC  3.4000   2  0.22    10509  9:59:02 AM
6    FUEL  3.8599   7  1.07   102116  9:58:47 AM
7    FUEL  3.8544   6  1.05   100116  9:58:40 AM
8     GBR  3.8300   4  0.46    64251  9:58:24 AM
9     GBR  3.8000   3  0.45    63211  9:58:20 AM
10    XRA  3.6167   3  0.12    42310  9:58:08 AM
11    GBR  3.7500   2  0.34    47521  9:57:52 AM
12   MPET  1.4200   3  0.26    44600  9:57:52 AM

In [14]:
#option 1
df.pivot('Symbol', 'TimeStamp').stack()

                    Price   M1    M2     Volume
Symbol TimeStamp
FUEL   9:58:40 AM  3.8544  6.0  1.05   100116.0
       9:58:47 AM  3.8599  7.0  1.07   102116.0
       9:59:09 AM  3.9099  8.0  1.11   105265.0
       9:59:11 AM  3.9490  9.0  1.15   109674.0
GBR    9:57:52 AM  3.7500  2.0  0.34    47521.0
       9:58:20 AM  3.8000  3.0  0.45    63211.0
       9:58:24 AM  3.8300  4.0  0.46    64251.0
MPET   9:57:52 AM  1.4200  3.0  0.26    44600.0
ORBC   9:59:02 AM  3.4000  2.0  0.22    10509.0
SUNH   9:59:09 AM  4.3700  6.0  0.09    24394.0
TBET   9:59:05 AM  2.1800  2.0  8.03  1121629.0
       9:59:14 AM  2.1900  3.0  8.05  1124179.0
XRA    9:58:08 AM  3.6167  3.0  0.12    42310.0

In [21]:
#option 2
df.set_index(['Symbol', 'TimeStamp']).sort_index()

                    Price  M1    M2   Volume
Symbol TimeStamp
FUEL   9:58:40 AM  3.8544   6  1.05   100116
       9:58:47 AM  3.8599   7  1.07   102116
       9:59:09 AM  3.9099   8  1.11   105265
       9:59:11 AM  3.9490   9  1.15   109674
GBR    9:57:52 AM  3.7500   2  0.34    47521
       9:58:20 AM  3.8000   3  0.45    63211
       9:58:24 AM  3.8300   4  0.46    64251
MPET   9:57:52 AM  1.4200   3  0.26    44600
ORBC   9:59:02 AM  3.4000   2  0.22    10509
SUNH   9:59:09 AM  4.3700   6  0.09    24394
TBET   9:59:05 AM  2.1800   2  8.03  1121629
       9:59:14 AM  2.1900   3  8.05  1124179
XRA    9:58:08 AM  3.6167   3  0.12    42310

In [28]:
#option 3
'''
You can also construct a MultiIndex from a DataFrame directly, 
using the method MultiIndex.from_frame(). 
This is a complementary method to MultiIndex.to_frame().
'''
pd.DataFrame(df.loc[:,'Price':].to_numpy(), index = pd.MultiIndex.from_frame(df[['Symbol', 'TimeStamp']]))

                        0  1     2        3           4
Symbol TimeStamp
TBET   9:59:14 AM    2.19  3  8.05  1124179  9:59:14 AM
FUEL   9:59:11 AM   3.949  9  1.15   109674  9:59:11 AM
SUNH   9:59:09 AM    4.37  6  0.09    24394  9:59:09 AM
FUEL   9:59:09 AM  3.9099  8  1.11   105265  9:59:09 AM
TBET   9:59:05 AM    2.18  2  8.03  1121629  9:59:05 AM
ORBC   9:59:02 AM     3.4  2  0.22    10509  9:59:02 AM
FUEL   9:58:47 AM  3.8599  7  1.07   102116  9:58:47 AM
       9:58:40 AM  3.8544  6  1.05   100116  9:58:40 AM
GBR    9:58:24 AM    3.83  4  0.46    64251  9:58:24 AM
       9:58:20 AM     3.8  3  0.45    63211  9:58:20 AM
XRA    9:58:08 AM  3.6167  3  0.12    42310  9:58:08 AM
GBR    9:57:52 AM    3.75  2  0.34    47521  9:57:52 AM
MPET   9:57:52 AM    1.42  3  0.26    44600  9:57:52 AM

In [31]:
df = pd.DataFrame(0, columns=['A1','A2','A3','B1','B2','B3'], index=[0])

df.columns = [df.columns.str[0], df.columns]
df

   A        B
  A1 A2 A3 B1 B2 B3
0  0  0  0  0  0  0

In [51]:
def test(arg, *arg2, **arg3):
    print( arg3)
    for item in arg2:
        print(item)

In [52]:
test(arg3 = 1)

TypeError: test() missing 1 required positional argument: 'arg'